.App {
  text-align: center;
}

h1 {
  color: #333;
}

.charts-container {
  display: flex; /* Utilizamos flexbox para alinear horizontalmente los gráficos */
  justify-content: space-around; /* Espaciado uniforme entre los gráficos */
  margin-top: 20px;
}

.chart {
  width: 30%; /* Ajusta el ancho de cada gráfico según tus necesidades */
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
}
