/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  .App {
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  .chart-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .chart-container > div {
    width: 30%;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    padding: 20px;
  }
  
  /* Estilos específicos para las gráficas de barras */
  canvas {
    max-width: 100%;
    height: auto;
  }
  